{% extends "_bandlayout" %}

{% block content %}
{% for entry in craft.entries.section('band')|batch(3) %}
    <div class="row">
    {% for value in entry %}
        <div class="col l4 m12 s12">
            <h3>{{ value.title }}</h3>
            <div class="text"><p>{{ value.bandtext }}</p></div>
            {% if value.bandbild | length %}
                {% set bild = value.bandbild.one() %}
                <img class="news-image" src="{{ bild.url }}" alt="{{ value.title }}">
            {% endif %}
            {% if value.newsvid | length %}
            {% endif %} 
         </div>
    {% endfor %}
    </div>
{% endfor %}    


{% endblock %}
