{% extends "_tontragerlayout" %}

{% block content %}

{%set TonQuery = craft.entries()
	.section('shop')
	.descendantOf(243)
	%}

{% set entries = TonQuery.all() %}

    {% for entry in entries|batch(3)%}
    <div class="row">
		{% for entry in entries%}
        <div class="col l4 m12 s12">
        <h4>{{entry.title}}</h4>
		{% set slides = entry.artikelbild.limit(3) %}
		{% if slides %}
		<div class="single-item">
{# Output slides, using the same "slides" variable #}
		{% for slide in slides %}
		<div class="slide"><img class="news-image mySlides" src="{{ slide.url }}" alt="{{ slide.title }}"></div>
		{% endfor %}
		</div>
		{% endif %}
    	
		
		<h6>{{entry.produktebeschreibung}}</h6>
    	<h6>Preis: {{entry.artikelpreis}} CHF</h6>
		<h6>Bestellnummer: {{entry.id}}</h6>

         </div>
	{%endfor%}
		</div>
    {% endfor %}



{% endblock %}

